fastapi
uvicorn[standard]
pydantic>=2.11.0,<3
python-dotenv
aiofiles
faiss-cpu
sentence-transformers==2.2.2
huggingface-hub==0.12.1
transformers==4.26.1
tokenizers==0.13.2
torch==2.0.1
pymupdf>=1.26.0,<1.27
python-docx
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
groq
python-multipart
cors
